<html>
<head>
<link rel="stylesheet" type="text/css" href="./assets/css/Aboutus.css">
<title>About Us</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/aboutus" class="active">About Us</a>
        <a href="/register" class="float-right">Sign Up</a>
        <a href="/login" class="float-right">Login</a>
      </nav>
    <div class="about">
        <h1>ABOUT US</h1>
        <p>We are a group of friends who have a genuine concern on the current food and nutrition trends in our world.We aim to educate people on the importance of good food , proper nutrition and all-round fitness in the shaping up of a better individual. Thus, came this idea of "NUTRICHON".</p>
    </div>
    <div class="bimg">
    <br>
    <h2 style="text-align:center;color:oldlace">Our Team</h2>
    <div class="row">
        <div class="column centerImg">
            <div class="box">
                <center>
                <img class="img" src="./assets/img/shokan.jpeg" alt="img1">
                </center>
                <div class="desc">
                    <h2 class="name">SHOKAN V</h2>
                    <p class="t">B.Tech CSE</p>
                    <p class="d">Expert In Full Stack Development.</p>
                </div>

            </div>
        </div>

        
    </div>
    </div>

</body>
<footer class="footer">
<a class="contact"href="" >Contact us</a>
</footer>
</html>