<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="Connect.css" />
    <title>Connect</title>
  </head>
  <body>
    <nav>
      <a href="/home">Home</a>
      <a href="/profile">Profile</a>
      <a href="/connect" class="active">Connect</a>
      <a href="/about" class="float-right">About Us</a>
      <a href="/users/logout" class="float-right">Logout</a>
    </nav>
    <div class="connect-div">
      <h2 class="heading">Connect</h2>
      <input
        type="text"
        class="search-field"
        placeholder="&#xF002; Name / Email"
        style="font-family: Roboto, FontAwesome"
      />
      <div class="result-area">
        <button class="result">
          <h4>Name</h4>
          <p>email@email.com</p>
        </button>
        <button class="result">
          <h4>Name</h4>
          <p>email@email.com</p>
        </button>
      </div>
    </div>
  </body>
</html>
