<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
    <title>Nutrichon</title>
    <link rel="stylesheet" type="text/css" href="./assets/css/Welcome.css">
</head>

<body>
    <nav>
        <a href="home.html" class="active">Home</a>
        <a href="/aboutus">About Us</a>
        <a href="/register" class="float-right">Sign Up</a>
        <a href="/login" class="float-right">Login</a>
      </nav>
      <video autoplay muted loop id="myVideo">
        <source src="./assets/img/welcomevideo.mp4" type="video/mp4">
      </video>
      
    <div class="bigbox">
        <div class="textcontent">
            <h2 class="headerclass">
                WHY NUTRICHON
            </h2>
            <h3>
                Nutrition plays a great role in our daily life. The food or liquids affect our body and health because each food or liquid contain particular nutrition which is very necessary for our physical and mental growth. A particular level of any particular nutrition is essential for our body. So we should know that what food we have to take, how much and what type of nutrition contain a particular food.
            </h3>
        </div>

    </div>
<div>
    <div class="bigbox">
        <div class="imgbox">
            <img src="./assets/img/welcomeimage.jpeg" width="300" height="400">
        </div>
            <div class="textcontent" >
                <h3>
                    In this fast-paced world, nutrition and fitness has taken a huge step back in everyone's lives where one does not know what food he's consuming or the quantity consumed considering a plethora of distractions around.This has led to an increase in the weak and unfit population like never before. So, we at NUTRICHON aim to help each and every indivudual in a small way , where he/she is able monitor both their food intake, their fitness and also be able to share their healthy lifestyle with others.Thus,Good nutrition has a direct impact on your overall health and quality of life. When you follow a healthy diet that consists of fruits, vegetables and whole grains, you aren’t just satisfying your hunger—you’re nourishing your body too.Sign up and embark on the road to transformation.
                </h3>
                <button onclick="window.location.href='signup.html'">SIGN UP NOW
                </button>
    
        
            </div>
            </div>
    
</body>
</html>